<!doctype html>
<html ng-app>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  </head>
  <body>
    <div ng-controller="CountController">
      {{count}}
      <button ng-click="count=3">Count Three</button>
      <button ng-click='setCount()'>Set count to three</button>
    </div>
    <script>
    function CountController($scope) {
      $scope.setCount = function() {
        $scope.count = 3;
      };
    }
    </script>
  </body>
</html>
