<h2>{{recipe.title}}</h2>

    <div>{{recipe.description}}</div>

    <ul class="unstyled">
      <li ng-repeat="ingredient in recipe.ingredients">
        <span>{{ingredient.amount}}</span>
        <span>{{ingredient.amountUnits}}</span>
        <span>{{ingredient.ingredientName}}</span>
      </li>
    </ul>

    <markdown content="recipe.instructions"></markdown>

    <form ng-submit="edit()" class="form-horizontal">
      <div class="form-actions">
        <button class="btn btn-primary">Edit</button>
      </div>
    </form>